body {
    margin: 0;
    background-color: #cf3145;
    text-align: center;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
}
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.visible {
  display: inline-block;
}
.hidden {
  display: none;
}
#container, body, html {
    height: 100%
}
#container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}
h1 {
    color: #eee;
    font-weight: 100;
    font-size: 8vw;
    font-family: 'Gotham-medium', Arial, sans-serif;
    padding-top: 6vw;
    transition: 0.5s ease;
}

#clockdiv {
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 5vmin;
    position: relative;
}
#clockdiv div > span {
    padding: 0.3em;
    border-radius: 3px;
    background: #c22640;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 12vmax;
    color: white;
}
#clock-container {
  width: 100%;
}
#time-container {
    font-family: Helvetica, Arial, Sans-serif;
    padding: 10px;
    border-radius: 3px;
}
#time-container > div {
    display: inline-block;
}
#tomato {
    background: rgba(255, 255, 255, 0);
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 22vmin;
    outline: none;
}
#volume-container {
    width: 100%;
    position: fixed;
    bottom: 5vmin;
}
#volume {
    border: 0.3vw solid white;
    width: 8vmin;
    height: 8vmin;
    border-radius: 100%;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
}
#volume > img {
    width: 6vmin;
    position: relative;
    top: 1vmin;
}
#button-container {
    padding: 10px;
    border-radius: 3px;
    height: 27vmin;
}
#break-buttons > button {
    padding: 15px;
    width: 8em;
    outline: none;
    background: #fed345;
    border: none;
    color: #a02837;
    font-weight: 600;
    font-size: 6vmin;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5vmax;
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
/*.tomato-active {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
}*/
@font-face {
    font-family: 'Gotham-medium';
    src: url('../assets/fonts/gotham-medium.woff') format('woff');
    font-display: swap;
}